# -*- mode: json-ts -*-
{
  "trailingComma": "none",
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "plugins": [
    "prettier-plugin-java",
    "/home/nelson/.nvm/versions/node/v20.11.0/lib/node_modules/prettier-plugin-sql/lib/index.cjs"
  ]
}
