{
  "trailingComma": "none",
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "plugins": [
    "/home/nelson/.nvm/versions/node/v18.17.1/lib/node_modules/prettier-plugin-java"
  ]
}
