# -*- mode: conf -*-

[mysqld]
bind-address=0.0.0.0

# http://www.percona.com/blog/2008/05/31/dns-achilles-heel-mysql-installation/
skip_name_resolve

general_log_file        = /var/log/mysql/mariadb.log
general_log             = 1

lower_case_table_names  = 1

[mariadb]
#slow_query_log
#log_queries_not_using_indexes=ON

[client-server]
socket = /run/mysqld/mysqld.sock
#port = 3306
